.placehold{
    position: relative;
    display: block;
    padding: 1em;
    text-align: center;
}
.placehold>*:first-child{
    position: absolute;
    left:0;
    width: 100%;
    top:  50% ;
    margin: -.9em 0 0 0;
}
.placehold:before{
content:'';

display: inline-block;
height: 8em;
width: 8em;
border-radius: 50%;
border: 12px   solid silver;
border-top-color: orange;
animation-name: rotate;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
@keyframes rotate{
    0%{ transform: rotate(0)}
    100%{ transform: rotate(360deg)}
}

.blog-card-li{
    list-style: none;
}

.blog-card-li > .card{
    height: 100%;
    margin-bottom: 0;
}
.blog-card-li .card-title.blog-card-title a {
    color:#fff;
    display: block;
}

.blog-date, .blog-tags{
    font-size: 85%;
    color: #777;
 }
