.site-footer{
    font-size: 80%;
    background-color:  rgba(59, 91, 120, 1);
}
.site-footer .row > div{ margin-bottom: .675em;}

.social-footer a{
    display:inline-block;
    font-size: 150%;
    margin: 0 .5em;

}
.social-footer {
    line-height: .01;
 }

.site-footer ,.site-footer a {
    color: #ccc;
}

.site-footer a:hover{
    text-decoration:none;
    color:#fff;
}